


.circle_background {
    fill: none;
    stroke: #ddd;
}

.circle_progress {
    fill: none;
  /*  stroke: var(--barColor1);  */
    stroke-linecap: round;
    stroke-linejoin: round;

}

.circle_text {
    font-size: 24px;
    font-weight: 600;
}

