
.companyProfileContainer{
    width: 92%;
    height: 91%;
    background-color: white;
    border-radius: 15px;
    
 }
 
 .headerCompanyProfile{
    display: flex;
    flex-direction: row;
 }

.headerContainer2{
    color: silver;
    
}
 
 

 

