
.companyProfileContainer{
   width: 97%;
   height: 96%;
   background-color: white;
   border-radius: 15px;
   
}




.companyProfile_bodyContainer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--Padding-padding-24, 24px);
align-self: stretch;
margin-top: 200px;
background-color: white;
}


.companyProfile_text{
align-self:  stretch;
color: #4A3291;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 32px; /* 133.333% */
}



.createCompanyProfile{
display: flex;
width: 480px;
padding: var(--Space-between-spacebetween-16, 16px);
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--Space-between-spacebetween-16, 16px);
color: #4A3291;
border-radius: var(--Space-between-spacebetween-16, 16px);
border: 1px solid #28B2D8;
background: #FFF;
}