
.popup_body{
    background: white;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: #4A3291;
   
}

.header{
    border-bottom: 2px solid purple;
}

.popup{
    display: flex;
    align-items: flex-start;
    width: 50px;
    height: 50px;
    padding: 20px;
    
    

}
