:root {


  --backgroundTheme: rgb(230, 240, 248);
  --purpleMain: #4A3291;
  --barColor1: #12c2e9;
  --barColor2: #c471ed;
  --barColor3: #f64f59;
  --barColor4: #91226c;

}

 a{
  text-decoration: none;
 }
   
   body {
  
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    
  }

  .app_wrapper{
    display: flex;
    flex-direction: row;
    background-color:#B6D3E2;
  
}

.content_wrapper{
  background-color: #B6D3E2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
  
.headerContainer{
  color: var(--purpleMain );
  font-size: 24px;
  font-weight: 700;
  line-height: 90%; /* 21.6px */
  }

  
  

  

